/*#warp{
	width: 100%;
	height: 100%;
}*/
#Header{
	width: 1200px;
	height: 600px;
	background: blue;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
}
#Footer{
	width: 1200px;
	height: 500px;
	background: blue;
	margin: 0 auto;
	text-align: center;
	font-size: 200px;
	color: #fff;
	margin-top: 20px;
}
#box{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 50px;
	background: red;
	background: rgba(0,0,0,.2);
}
#box .box_shade{
	width: 1200px;
	height: 100%;
	margin: 0px auto;
	overflow: hidden;
}
#box .box_shade ul{
	width: 1400px;
	height: 100%;
	background: #00CCCC;
}
#box .box_shade ul li{
	float: left;
}
#box .box_shade ul li a{
	display: block;
	height: 100%;
	line-height: 50px;
	padding: 0px 16px;
	font-size: 18px;
}
#box .box_shade ul li a:hover{
	background: #00FFFF;
}
#box .box_shade ul li.first a{
	padding: 0px 25px;
}
#box .box_shade ul li.last a{
	padding: 0px 19px;
}









/*楼梯效果 样式*/

#floors{
	width: 50px;
	position: fixed;
	left: 30px;
	top: 50%;
	margin-top: -250px;
	display: none;
}
#floors ul li{
	height: 50px;
	width: 50px;
	border-bottom: 1px dotted #DDDDDD;
	position: relative;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}
#floors ul li span{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
#floors ul li span{
	display: none;
}
#floors ul li.hover span{
	display: block;
	background: #CC0000;
	color: #fff;
}
#floors ul li.hover span.active{
	display: block;
	background: #CC0000;
	color: #fff;
}
#floors ul li span.active{
	display: block;
	background: #fff;
	color: #c00;
}












/*区域内容 样式*/
#warp{
	width: 1200px;
	margin: 0 auto;
}
#warp div{
	font-size: 100px;
	font-weight: 800;
	color: #FFF;
	text-align: center;
	margin-bottom: 10px;
}
.warp-01{
	height: 700px;
	line-height: 700px;
	background: red;
}
.warp-02{
	height: 500px;
	line-height: 500px;
	background: #009DFF;
}
.warp-03{
	height: 600px;
	line-height: 600px;
	background: orange;
}
.warp-04{
	height: 700px;
	line-height: 700px;
	background: yellow;
}
.warp-05{
	height: 800px;
	line-height: 800px;
	background: green;
}
.warp-06{
	height: 650px;
	line-height: 650px;
	background: pink;
}
.warp-07{
	height: 900px;
	line-height: 900px;
	background: blue;
}
.warp-08{
	height: 700px;
	line-height: 700px;
	background: #00E19F;
}
.warp-09{
	height: 700px;
	line-height: 700px;
	background: purple;
}
.warp-10{
	height: 550px;
	line-height: 550px;
	background: #336699;
}
.warp-11{
	height: 650px;
	line-height: 650px;
	background: red;
}



















