
#passWord_reg{
	width: 600px;
	height: 100px;
	margin: 20px auto;
}
p.password_text{
	font-size: 14px;
}
p.password_text input.css_psw{
	width: 250px;
	height: 35px;
	border: 1px solid #ddd;
}
p.password_text label{
	font-size: 12px;
	color: #666666;
}
p.password_text label font{
	padding: 0px 10px;
}
p.col{
	padding:10px 0px 0px 45px;
	height: 5px;
}
p.col span{
	display: block;
	float: left;
	margin: 0px 10px;
	width: 60px;
	height: 5px;
	background: #ddd;
}
#passWord_reg p.col span.col1{
	background: #ff0000;
}
#passWord_reg p.col span.col2{
	background: #6699FF;
}
#passWord_reg p.col span.col3{
	background: #FFFF00;
}
p.password_text label.tips{
	color: #CC0000;
}
p.text{
	padding:2px 0px 0px 45px;
	height: 5px;
}
p.text span{
	display: block;
	font-size: 12px;
	float: left;
	margin: 0px 10px;
	width: 60px;
	height: 20px;
	text-align: center;
}

